<div class="container pt-5 pb-5">
  <div class="row">
    <div class="col-md-8 offset-md-2 mb-3">
      <div class="text-start">
        <h3>君の挨拶ちゃんと相手に届いてる？</h3>
        <p>音声から感情を抽出し分析評価します。</p>
      </div>
    </div>
    <div class="col-md-8 offset-md-2 mb-3">
      <div class="text-center">
        <h1>あいさつマスター</h1>
        <%= link_to 'はじめる', greetings_path, class: 'btn btn-info text-white' %>
      </div>
    </div>
  </div>
</div>
