<div class="container">
  <div class="text-start">
    <h3>君の挨拶ちゃんと相手に届いてる？</h3>
    <p>音声から感情を抽出し分析評価します。</p>
  </div>
  <div class="text-center">
    <h1>あいさつマスター</h1>
    <%= link_to 'はじめる', greetings_path, class: 'btn btn-info' %>
  </div>
</div>
