<div class="container pt-3 pb-3">
  <div class="row">
    <div class="col-md-4 offset-md-2 mb-3">
      <div class="card text-dark bg-info">
        <div class="card-body">
          <p><%= @greeting.subtitle %></p>
          <input type="hidden" id="greeting_id" value="<%= @greeting.id %>">
          <h1 class="text-center"><%= @greeting.phrase %></h1>
          <p class="text-end">を測定する</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center mb-3">
      <div class="col">
        <h3>マスクフィルター</h3>
        <div id="buttons">
          <button class="btn btn-outline-dark" id="maskOn">ON</button>
          <button class="btn btn-outline-dark" id="maskOff">OFF</button>
        </div>
        <p class="pt-2">※音声加工によりマスク着用を想定した測定ができます。</p>
      </div>
    </div>
  </div>
  <div class="row mt-5 mb-5">
    <span class="record fa-layers" id="mic">
      <i class="fa-regular fa-circle text-info fa-8x"></i>
      <i class="fa-solid fa-microphone text-info fa-6x"></i>
      <i class="fa-solid fa-mask-face text-black fa-3x" id="mask"></i>
      <i class="fa-solid fa-circle text-white-50 fa-8x" style="cursor: pointer;"></i>
    </span>
  </div>
  <div class="row mt-5">
    <div class="col-md-8 offset-md-2 text-center mt-5 mb-3">
      <audio id="audio" controls></audio>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'recording' %>
