<div class="container pt-3 pb-3">
  <div class="row text-center">
    <h1>判定履歴一覧</h1>
    <div class="col-md-4 offset-md-4 mb-3">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">判定日</th>
            <th scope="col">結果</th>
            <th scope="col">挨拶</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'result', collection: @results %>
        </tbody>
      </table>
    </div>
  </div>
</div>
