.container.pt-3.pb-3
  .row
    .text-center.mb-3
      h1
        | 登録内容
      p
        | ニックネーム
      p
        = @user.name
      p
        | メールアドレス
      p
        = @user.email
    .text-center.mb-3
      = link_to '登録情報変更', edit_user_path(@user)
      | |
      = link_to 'TOP', root_path
