/*
"Zen Maru Gothic" is lisenced under the SIL Open Font License 1.1
https://github.com/googlefonts/zen-marugothic
http://scripts.sil.org/OFL
*/

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  html {
    font-family: 'Zen Maru Gothic', sans-serif;
  }
}

input:checked ~ .dot {
  transform: translateX(100%);
}

input:checked ~ .block {
  background-color: #f69c9f;
}

.text-shadow {
  text-shadow: 2px 2px 3px gray;
}

.btn-primary {
  @apply inline-flex gap-1 text-shironeri bg-ariel border-0 px-3 py-2 items-center focus:outline-none transform hover:scale-110 hover:text-shironeri rounded-lg;
}

.btn-secondary {
  @apply inline-flex gap-1 text-shironeri bg-taikoh border-0 px-3 py-2 items-center focus:outline-none transform hover:scale-110 hover:text-shironeri rounded-lg;
}

.text-field {
  @apply w-full py-2 px-4 appearance-none rounded-lg border border-transparent border-gray-300 bg-white shadow-md focus:outline-none focus:ring-2 focus:ring-ariel focus:border-transparent;
}

.notice {
  @apply  w-full text-shironeri bg-green-200;
}

.alert {
  @apply  w-full text-shironeri bg-taikoh;
}

// .text-circle {
//   height:100px;
//   width:100px;
//   border-radius:50%;
//   line-height:85px;
//   text-align:center;
// }

.min-h-75vh{
  min-height: 75vh;
}
