@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  html {
    font-family: 'Zen Maru Gothic', sans-serif;
  }
}

input:checked ~ .dot {
  transform: translateX(100%);
}

input:checked ~ .block {
  background-color: #f69c9f;
}
