<% if object.errors.any? %>
  <div class="alert alert-danger" role="alert", id="error_messages">
    <ul class="mb-0">
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>