<footer>
  <div class="container pt-1">
    <div class="row text-center">
        <%= link_to '利用規約', '#', class: 'col-md-2 offset-md-3 text-muted text-decoration-none' %>
        <%= link_to 'プライバシーポリシー', '#', class: 'col-md-2 text-muted text-decoration-none' %>
        <%= link_to 'お問い合わせ', '#', class: 'col-md-2 text-muted text-decoration-none' %>
    </div>
    <div class="row text-center text-muted">
        <p>Copyright © 2022. あいさつマスター</p>
    </div>
  </div>
</footer>
